body {
    background-color: rgb(5, 81, 143);
    margin: 0;
}

#background {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 680px;
}

#screen1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    flex-direction: column;
}

#start {
    width: 170px;
    height: 170px;
    background-color: orange;
    font-size: 30px;
    border: solid 2px black;
    border-radius: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#game-over {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    height: 680px;
    background-image: none;
    border: none;
    border-radius: 20px;
    margin: auto;
}

h1, h2 {
    display: flex;
    margin: 20px 0 50px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 40px;
}

h1 {
    font-size: 50px;
}

#directions {
    display: flex;
    flex-direction: column;
    border: solid 4px;
    width: 300px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 30px 0 30px;
    background-color: rgb(134, 204, 236);
    margin-bottom: 30px;
}

#tomb {
    display: flex;
    margin-top: 30px;
    width: 250px;;
}

#try-again {
    width: 130px;
    height: 100px;
    border-radius: 40px;
    background-color: orange;
    font-size: 20px;
    border: solid 2px;
}

#icones {
    display: flex;
    flex-direction: column;
}

#arrows {
    padding: 0 10px;
}

#space {
    padding: 0 10px;
}

.icone {
    margin: auto;
    margin-bottom: 20px;
}