body {
    background-color: rgb(5, 81, 143);
    margin: 0;
}

#background {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 680px;
}

#screen1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    flex-direction: column;
}

#fish1 {
    margin-top: 15px;
}

#logo {
    margin-bottom: 40px;
    margin-top: 10px;
    width: 380px;
}

#start {
    width: 100px;
    height: 100px;
    background-color: rgb(240, 237, 84);
    font-size: 25px;
    border: solid 2px black;
    border-radius: 70px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 10px 0px;
    margin-top: -60px;
}

#game-over {
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 500px;
    height: 680px;
    background-image: none;
    border: none;
    border-radius: 20px;
    margin: auto;
}

h1, h2 {
    display: flex;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 40px;
}

h1 {
    font-size: 50px;
}

#directions {
    display: flex;
    flex-direction: column;
    border: solid 4px;
    width: 350px;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 15px 0 25px;
    background-color: rgb(94, 207, 241);
    margin-bottom: 30px;
    align-items: flex-start;
}

#tomb {
    display: flex;
    margin-top: 30px;
    width: 250px;
    margin-left: 50px;
}

#try-again {
    width: 130px;
    height: 100px;
    border-radius: 50px;
    background-color:rgb(240, 237, 84);
    box-shadow: 2px 2px 10px 0px;
    font-size: 20px;
    border: solid 2px;
    margin-top: -20px;
}

#icones {
    display: flex;
    flex-direction: column;
}

#arrows {
    padding: 0 10px;
}

#space {
    padding: 0 10px;
}

.icone {
    margin: auto;
    margin-bottom: 20px;
}

#end-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    justify-content: center;
    border: solid 4px black;
    background-color: rgb(94, 207, 241);
}